@font-face {
    src: url(assets/fonts/Lato-Regular.ttf);
    font-family: Lato;
}

body, html{
    margin: 0em;
    padding: 0em;
    font-family: Lato;
    font-size: calc(12px + 0.2vw);
    line-height: calc(1.5px +0.3vw);
    letter-spacing: 1px;
    scroll-behavior: smooth;
    min-height: 100vh;
    width: 100%;
    overflow-x: show;
}

.wrapper {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    color: #efefef;
    font-size: 4.5em;
    text-align: left;
    line-height: 1.2em;
    margin: 0.5em 0em;
    white-space: nowrap;
}

h2 {
    color: #efefef;
    font-size: 3em;
    margin: 0em;
}

h3 {
    font-size: 1.8em; 
}

p {
    color: #efefef;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.7em;
    margin-top: 0em;
    margin-bottom: 0em;
}

li {
    white-space: nowrap;
}

hr {
    display: inline-block;
    margin: 1em 0em;
}

.header {    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    width: 100%;
    height: 100px;
}

.headcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em;
    width: 100%;
}

.logo {
    padding: 0em 2em;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav_btn {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 1.5em;
    margin: 0em 0em 0em 0.8em;
    color: #f26524;
    transition: 0.2s ease;
    border: 4px transparent solid;
    border-radius: 20px;
}

.nav_btn:hover {
    color: #00514f;
    transform: scale(110%);
    /* border: 4px #00514f solid;
    background-color: #00514f; */
}

.hamburger {
    display: none;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.show, .about, .contact, .port, .spec {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 200px);
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0em auto;
    padding: 0em 2em;
}

/* Blog */

.hero {
    min-height: 40vh;
    width: 100vw;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    margin: 1em;
}

.blogthumb {
    max-height: 100%;
    max-width: 20em;
    margin: 0;
}

.blog p {
    color: black;
}

.flex-thumb{
    display: flex;
    margin: 1em;
    max-height: 20em;
}

.flex-col {
    display: flex;
    flex-direction: column;
    text-align:start;
    margin-left: 1em;
    margin-right: 2em;
    overflow: hidden;
}

.flex-col {
    font-size: 0.9em;
}

.margin {
    position: relative;
    display: block;
    text-align: right;
    margin: 0em auto;

}

.show {
    background-image: url(assets/backgrounds/bg_home.png);
}

.about {
    background-image: url(assets/backgrounds/bg_about.png);
}

.contact {
    background-image: url(assets/backgrounds/bg_contact.png);
}

.port {
    background-image: url(assets/backgrounds/bg_port.png);
    display: grid;
    grid-template-columns: 1fr 71em 1fr;
    margin: auto;
}

.porttext {
    grid-column: 2;
    max-width: max-content;
}

.portpics {
    width: 100%;
    height: auto;
}

#shell, #adobe, #irl {
    width: 80%;
    height: auto;
    animation: slideinfrombot 0.5s ease;
   
}

#irl {
    position: relative;
    left: 5em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-column: 2;
    grid-gap: 2em;
    max-width: 95vw;
}

.desc {
    background-color: #00514f;
    width: 100%;
    max-height: fit-content;
}

.desctext {
    text-align: center;
    padding: 1em;
    margin-bottom: 0em;
    text-decoration: none;
}

.spec {
    background-image: url(assets/backgrounds/bg_about.png);
}


.gallery img {
    width: 100%;
    height: auto;
}

.gallery img:hover{
    opacity: 60%;
    transition: 0.2s;
}

.footer {
    min-height: 100px;
    height: 100%;
    width: 100%;
    background-color: #efefef;
    margin: 0em auto;
}

.footcont {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 81em;
    justify-content: space-around;
    align-items: center;
    margin: 0em 5em 0em 0em;
    padding: 0;
}

.footcont li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #636363;
    list-style: none;
    padding: 0;
    margin: 0em 0.5em;

}

.footcont li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: #636363;
    list-style: none;
    padding: 0;
    margin: 0em 0.5em;

}

.footcont li a:hover {
    text-decoration: underline;
}

.footcont li img {
    margin-right: 0.5em;
}

.btn {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    color: #efefef;
    text-align: center;
    text-decoration: none;
    background-color: #f26524;
    border-radius: 20px;
    padding: 1em;
    margin: 3em 1em 2em 0em;
    transition: 0.1s ease;
    border: 0px solid transparent;
}

.btn:hover {
    transform: scale(0.97);
}

span {
    background: #00514f;
    height: 100%;
    width: 0;
    border: 1px solid transparent;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    transition: 0.2s ease;
}

.btn:hover span {
    width: 100%;
}

.btn img {
    margin-right: 0.6em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: fit-content;
    margin: 0em auto;
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    max-width: 80em;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0em;
}

.span {
    grid-column: 1 / span 2;
}

.wide {
    margin: 1em;
    width: 10em;
    justify-self: center;
    align-self: center;
    grid-column: 1 / 3;
}

.vid {
    grid-column: 1 / span 2;
    position: relative;
    width: 100%;
    height:0;
    padding-bottom: 56.25%;
}

.vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slideinfrombot {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Mobile */

@media only screen and (max-width: 768px) {

    h1 {
        color: #efefef;
        font-size: 4.5em;
        text-align: left;
        line-height: 1.2em;
        margin: 0.5em 0em;
        white-space: normal;
    }

hr {
    width: 25em;
}

.header {
    padding: 0em 2em;
}

.headcont {
    justify-content: space-between;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: #f26524;
    margin: 6px 0.1em 0em 1em;
}

.navbar {
    position: absolute;
    height: 0;
    top: 100px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color:#efefef;
    overflow: hidden;
    transition: 0.5s;
}

.navbar.active {
    height: 224px;
}

.navbar.active ul {
    opacity: 1;
}

.navbar ul {
    display: block;
    width: fit-content;
    margin: 0 auto 0 auto;
    text-align: center;
    transition: 0.2s;
    opacity: 0;
}

.navbar ul li a {
    margin-bottom: 0.5em;
}

.nav_btn {
    margin: auto;
}

.show, .about, .contact, .port {
    padding: 0em;
    margin: 0em;
}

.port {
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.desc {
    display: inline-block;
    width: 90%;
    height: auto;
}

.desctext {
    font-size: 2em;
    padding: 1em;
}


.blog {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: left;
    margin: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 1em;
    justify-content: center;
    align-items: flex-start;
}

.show, .about, .contact, .port {
    padding: 4em 0em;
}

#irl {
    width: 60%;
    height: auto;
}

/* #adobe, #shell {
    display: none
} */

.fit {
    width: 95%;
}

.footcont {
    flex-wrap: wrap;
    margin: 0em auto;
    max-width: 100px;
    justify-content: center;
}

.footcont li {
    margin: 1em auto;
}

.footcont li img {
    display: none;
}

.btn {
    margin: 2em 1em 1em 0em;
}

}